.calendario {
	display: flex;
	width: 100%;
	justify-content: center;
}

.calendar {
	width: 90%;
	height: 520px;
}

.c-grid-title {
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
	height: 9.5%;
}

.c-month {
	width: 74.9%;
}

.c-event-title	{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
	background-color: #414141;
	height: 9.5%;
}

.c-week-day {
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #5C171F;
	width: 14.26%;
	height: 9.5%;
}

.c-event-body {
	height: 90.5%;
	background-color: #EBEBEB;
}

.c-nav-btn-over {
    background-color: gray !important;
    font-weight: bold;
}

.c-grid {
	box-shadow: none;
	width: 60%;
}

.c-event-grid {
	box-shadow: none;
	width: 39%;
}

.calendar .c-pad-top {
	padding-top: 0;
}

.c-day {
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 13.3%;
    margin-bottom: 1px;
    background-color: #EBEBEB;
    z-index: 1;
}

.c-day-next-month {
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 13.3%;
    margin-bottom: 1px;
    background-color: #EBEBEB;
    color: #EBEBEB;
    z-index: 1;
}

.c-day-previous-month {
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 13.3%;
    margin-bottom: 1px;
    background-color: #EBEBEB;
    color: #EBEBEB;
    z-index: 1;
}

.c-today {
	background-color: white;
}

.c-event {
	position: relative;
	color: black;
	font-weight: initial;
	cursor: inherit;
}

.c-event-item {
	cursor: pointer;
}

.c-day div:first-child {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(0 80%, 100% 21%, 100% 100%, 0% 100%);
	background-color: #E8E8E8;
	z-index: -1;
}

.c-day-next-month div:first-child {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(0 80%, 100% 21%, 100% 100%, 0% 100%);
	background-color: #E8E8E8;
	z-index: -1;
}

.c-day-previous-month div:first-child {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(0 80%, 100% 21%, 100% 100%, 0% 100%);
	background-color: #E8E8E8;
	z-index: -1;
}

.c-today div:first-child{
	display: none;
}

.c-event div:last-child {
	position: absolute;
	left: 40%;
	width: 20%;
	height: 4px;
	margin-top: 3px;
	background-color: #5C171F;
}

.title {
	color: darkred;
}

.description {
	display: inline;
	color: gray;
}

.c-event-list {
	padding: 20px 10px;
}

.c-event-item > div {
	white-space: normal;
}

.fa.fa-map-marker {
	padding-right: 10px;
	color: gray;
	font-size: 18px;
}

@media (max-width: 760px) {
	.c-week-day {
		display: none;
	}
	.c-day {
		display: none;
	}
	.c-day-previous-month {
		display: none;
	}
	.c-day-next-month {
		display: none;
	}
	.c-event-title {
		display: none;
	}
	.calendar {
		position: relative;
	}
	.c-event-body {
		position: absolute;
		top: 9.5%;
		left: 0;
		width: 100%;
	}
	.c-grid {
		width: 100%;
	}
	.c-event-grid {
		width: 0%;
		height: 0%;
	}
	.c-month {
		width: 75%;
	}
}