.calendario {
	display: flex;
	width: 100%;
	justify-content: center;
}

.calendar {
	width: 90%;
	height: 520px;
}

.c-grid-title {
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
	height: 9.5%;
}

.c-month {
	width: 74.9%;
}

.c-event-title	{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
	background-color: #414141;
	height: 9.5%;
}

.c-week-day {
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #5C171F;
	height: 9.5%;
}

.c-event-body {
	height: 90.5%;
	background-color: #E8E8E8;
}

.c-nav-btn-over {
    background-color: gray !important;
    font-weight: bold;
}

.c-grid {
	box-shadow: none;
	width: 60%;
}

.c-event-grid {
	box-shadow: none;
	width: 39%;
}

.calendar .c-pad-top {
	padding-top: 0;
}

.c-day {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 13.5%;
    background-color: #E8E8E8;
}

.c-day-next-month {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 13.5%;
    background-color: #E8E8E8;
}

.c-day-previous-month {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 13.5%;
    background-color: #E8E8E8;
}

.c-today {
	background-color: white;
}

.c-event {
	background-color: #5C171F;
}

/*Parte Lateral*/

.title {
	color: darkred;
}

.description {
	display: inline;
	color: gray;
}

.c-event-list {
	padding: 20px 10px;
}

.c-event-item > div {
	white-space: normal;
}

.fa.fa-map-marker {
	padding-right: 10px;
	color: gray;
	font-size: 18px;
}